@charset "utf-8";
/* base */
body{
    font-family: 'Jua', sans-serif;
    color: #000;
    font-size: 24px;
}
a{
    text-decoration: none;
    color: #000;
}
svg{
    height: 100%;
}
img{
    vertical-align: top;
}
.m_blind{
    position: absolute;
    left: -9999px;
}
.m_center{
    max-width: 1260px;
    margin: 0px auto;
}
.m_clear:after{
    content: "";
    display: block;
    clear: both;
}
#m_ft{
    display: none;
}

/* Skip */
.m_skip>a{
    z-index: 9999;
    position: absolute;
    top: 0px;
    left: -9999px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #e9a38b;
    color: #000;
}
.m_skip>a:focus{
    left: 0px;
}

/* Header */
#m_hd{
    z-index: 9980;
    position: fixed;
    width: 100%;
    padding: 40px 20px 0px;
    box-sizing: border-box;
}
.m_logo>a{
    display: block;
    height: 80px;
}
.m_logo>a>span{
    display: inline-block;
    height: 100%;
    line-height: 80px;
    margin-right: 10px;
    vertical-align: middle;
}
#m_gnb_wrap{
    position: absolute;
    top: 40px;
    right: 20px;
    margin-bottom: -20px;
    transform-origin: top left;
    transform: translateX(100%) rotateZ(90deg);
    text-align: center;
}
#m_gnb_wrap>ul>li{
    float: left;
    margin-right: 30px;
    transition: 0.4s linear;
}
#m_gnb_wrap>ul>li.m_gnb_active{
    transform-origin: bottom right;
    transform: translate(-30px,-36px) rotateZ(-90deg);
}
#m_gnb_wrap>ul>li>a{
    transition: 0.4s linear;
}
#m_gnb_wrap>ul>li.m_gnb_active>a{
    color: #e9a38b;
    font-size: 36px;
}
