@charset "utf-8";
/* Home */
.m_home_box{
    position: relative;
    height: 100%;
}
.m_home_box>div{
    position: absolute;
}
.m_roadsign{
    top: 300px;
    left: 100px;
    width: 216px;
    height: 498px;
    background: url(../img/main/home_bar.png) no-repeat;
    background-size: cover;
}
.m_roadsign>div{
    position: absolute;
    top: 30px;
    left: -15px;
    width: 435px;
    height: 180px;
    background: url(../img/main/home_arrow.png) no-repeat;
    background-size: cover;
}
.m_roadsign>div>h3{
    position: absolute;
    top: 45px;
    left: 80px;
    font-size: 36px;
    color: #fff;
}
.m_roadsign>div>div{
    position: absolute;
    top: 60px;
    right: 60px;
}
.m_roadsign>div>div>img{
    width: 15px;
    transform: rotateZ(30deg);
}
.m_roadsign>div>div>img:nth-of-type(1){
    margin:-5px 0px 0px 10px;
}
.m_roadsign>div>div>img:nth-of-type(2){
    margin-left: -5px;
}
.m_roadsign>div>div>p{
    font-size: 18px;
    color: #ccc;
    text-align: center;
}
.m_roadsign>img{
    position: absolute;
    bottom: 0px;
    left: -85px;
    transform: rotateZ(40deg);
}
.m_home_foot{
    position: absolute;
    bottom: 60px;
    left: 0px;
    display: block;
    width: 100%;
    height: 50%;
}
.m_home_foot>img{
    position: absolute;
    opacity: 0;
    animation: homefootani 0.2s linear forwards;
}
.m_home_foot>img:nth-child(1){top:420px; left:250px; transform: rotate(80deg); animation-delay: 0.4s;}
.m_home_foot>img:nth-child(2){top:280px; left:300px; transform: rotate(75deg); width: 30px; animation-delay: 0.6s;}
.m_home_foot>img:nth-child(3){top:380px; left:420px; transform: rotate(70deg); width: 31px; animation-delay: 0.8s;}
.m_home_foot>img:nth-child(4){top:240px; left:420px; transform: rotate(65deg); width: 27px; animation-delay: 1s;}
.m_home_foot>img:nth-child(5){top:320px; left:560px; transform: rotate(65deg); width: 28px; animation-delay: 1.2s;}
.m_home_foot>img:nth-child(6){top:200px; left:540px; transform: rotate(55deg); width: 25px; animation-delay: 1.4s;}
.m_home_foot>img:nth-child(7){top:250px; left:660px; transform: rotate(55deg); width: 26px; animation-delay: 1.6s;}
.m_home_foot>img:nth-child(8){top:140px; left:650px; transform: rotate(50deg); width: 23px; animation-delay: 1.8s;}
.m_home_foot>img:nth-child(9){top:170px; left:760px; transform: rotate(50deg); width: 24px; animation-delay: 2s;}
.m_home_foot>img:nth-child(10){top:80px; left:740px; transform: rotate(50deg); width: 21px; animation-delay: 2.2s;}
.m_home_foot>img:nth-child(11){top:100px; left:840px; transform: rotate(45deg); width: 22px; animation-delay: 2.4s;}
.m_home_foot>img:nth-child(12){top:20px; left:820px; transform: rotate(50deg); width: 19px; animation-delay: 2.6s;}
.m_home_foot>img:nth-child(13){top:20px; left:910px; transform: rotate(45deg); width: 20px; animation-delay: 2.8s;}
@keyframes homefootani{
    100%{
        opacity: 1;
    }
}
.m_home_con{
    top: 230px;
    right: 40px;
    width: 546px;
    height: 253px;
    background: url(../img/main/home.png) no-repeat;
    background-size: cover;
}
.m_home_con>img{
    z-index: -1;
    position: absolute;
    top: 40px;
    left: 265px;
    animation: homeconani 0.4s ease-out 2.8s forwards;
}
@keyframes homeconani{
    100%{
        top: -100px;
    }
}