@charset "utf-8";
.section{
    overflow: hidden;
}
/* Home */
.m_home_box{
    position: relative;
    height: 100%;
}
.m_home_box>div{
    position: absolute;
}
.m_roadsign{
    top: 300px;
    left: 100px;
    width: 216px;
    height: 498px;
    background: url(../img/main/home_bar.png) no-repeat;
    background-size: cover;
}
.m_roadsign>div{
    position: absolute;
    top: 30px;
    left: -15px;
    width: 435px;
    height: 180px;
    background: url(../img/main/home_arrow.png) no-repeat;
    background-size: cover;
}
.m_roadsign>div>h3{
    position: absolute;
    top: 50px;
    left: 80px;
    font-size: 36px;
    color: #fff;
}
.m_roadsign>div>div{
    position: absolute;
    top: 60px;
    right: 60px;
}
.m_roadsign>div>div>img{
    width: 15px;
    transform: rotateZ(30deg);
}
.m_roadsign>div>div>img:nth-of-type(1){
    margin:-5px 0px 0px 10px;
}
.m_roadsign>div>div>img:nth-of-type(2){
    margin-left: -5px;
}
.m_roadsign>div>div>p{
    font-size: 18px;
    color: #ccc;
    text-align: center;
}
.m_roadsign>img{
    position: absolute;
    bottom: 0px;
    left: -85px;
    transform: rotateZ(40deg);
}
.m_home_foot{
    position: absolute;
    bottom: 60px;
    left: 0px;
    width: 100%;
    height: 50%;
}
.m_home_foot>img{
    z-index: -1;
    position: absolute;
    opacity: 0;
    animation: footani 0.2s linear forwards;
}
.m_home_foot>img:nth-child(1){top:420px; left:250px; transform: rotateZ(80deg); animation-delay: 0.4s;}
.m_home_foot>img:nth-child(2){top:280px; left:300px; transform: rotateZ(75deg); width: 30px; animation-delay: 0.6s;}
.m_home_foot>img:nth-child(3){top:380px; left:420px; transform: rotateZ(70deg); width: 31px; animation-delay: 0.8s;}
.m_home_foot>img:nth-child(4){top:240px; left:420px; transform: rotateZ(65deg); width: 27px; animation-delay: 1s;}
.m_home_foot>img:nth-child(5){top:320px; left:560px; transform: rotateZ(65deg); width: 28px; animation-delay: 1.2s;}
.m_home_foot>img:nth-child(6){top:200px; left:540px; transform: rotateZ(55deg); width: 25px; animation-delay: 1.4s;}
.m_home_foot>img:nth-child(7){top:250px; left:660px; transform: rotateZ(55deg); width: 26px; animation-delay: 1.6s;}
.m_home_foot>img:nth-child(8){top:140px; left:650px; transform: rotateZ(50deg); width: 23px; animation-delay: 1.8s;}
.m_home_foot>img:nth-child(9){top:170px; left:760px; transform: rotateZ(50deg); width: 24px; animation-delay: 2s;}
.m_home_foot>img:nth-child(10){top:80px; left:740px; transform: rotateZ(50deg); width: 21px; animation-delay: 2.2s;}
.m_home_foot>img:nth-child(11){top:100px; left:840px; transform: rotateZ(45deg); width: 22px; animation-delay: 2.4s;}
.m_home_foot>img:nth-child(12){top:20px; left:820px; transform: rotateZ(50deg); width: 19px; animation-delay: 2.6s;}
.m_home_foot>img:nth-child(13){top:20px; left:910px; transform: rotateZ(45deg); width: 20px; animation-delay: 2.8s;}
@keyframes footani{
    100%{
        opacity: 1;
    }
}
.m_home_con{
    top: 230px;
    right: 40px;
}
.m_home_con>img:nth-of-type(2){
    z-index: -1;
    position: absolute;
    top: 40px;
    left: 265px;
    animation: homeani 0.4s ease-out 3.2s forwards;
}
@keyframes homeani{
    100%{
        top: -100px;
    }
}

/* Profile */
.m_profile_box{
    position: relative;
    height: 100%;
}
.m_profile_title{
    position: absolute;
    top: 130px;
    right: 340px;
    width: 726px;
    height: 144px;
    background: url(../img/main/profile.png) no-repeat;
    background-size: cover;
}
.m_profile_title>img{
    z-index: 9960;
    position: absolute;
    top: -700px;
    left: -80px;
    transition: 2s 0.2s;
    transition-timing-function: cubic-bezier(.4,2.25,.41,-0.25);
    transform-origin: center top;
}
.m_profile_title>img.m_profile_active{
    top: -150px;
    animation: profileani1 4.6s ease-in-out forwards;
    animation-delay: 0.2s;
}
@keyframes profileani1{
    0%{transform: rotateZ(0deg);}
    10%{transform: rotateZ(10deg);}
    50%{transform: rotateZ(-30deg);}
    80%{transform: rotateZ(25deg);}
    100%{transform: rotateZ(0deg);}
}
.m_profile_foot{
    position: absolute;
    bottom: 60px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.m_profile_foot>img{
    z-index: -1;
    position: absolute;
    transform: rotateZ(-120deg);
    opacity: 0;
}
.m_profile_foot>img.m_profile_active{
    animation: footani 0.2s linear forwards;
}
.m_profile_foot>img:nth-child(1){top:120px; right:80px; animation-delay: 0.4s;}
.m_profile_foot>img:nth-child(2){top:80px; right:190px; animation-delay: 0.6s;}
.m_profile_foot>img:nth-child(3){top:200px; right:200px; animation-delay: 0.8s;}
.m_profile_foot>img:nth-child(4){top:140px; right:320px; animation-delay: 1s;}
.m_profile_foot>img:nth-child(5){top:270px; right:350px; animation-delay: 1.2s;}
.m_profile_foot>img:nth-child(6){top:230px; right:480px; animation-delay: 1.4s;}
.m_profile_foot>img:nth-child(7){bottom:240px; left:200px; animation-delay: 2.6s;}
.m_profile_foot>img:nth-child(8){bottom:80px; left:170px; animation-delay: 2.8s;}
.m_profile_foot>img:nth-child(9){bottom:160px; left:60px; animation-delay: 3s;}
.m_profile_foot>img:nth-child(10){bottom:0px; left:40px; animation-delay: 3.2s;}
#m_slide_box{
    position: absolute;
    bottom: 60px;
    right: 60px; 
    max-width: 1000px;
    height: 600px;
    padding: 20px 20px 30px;
    border: 4px solid #444;
    box-sizing: border-box;
    background-color: #fff;
}
.m_slider>li{
    padding: 0px 20px;
    width: 476px !important;
    height: 552px;
    box-sizing: border-box;
}
.m_slider h3{
    margin-bottom: 10px;
    text-align: left;
    color: #e9a38b
}
.m_slider p{
    margin-bottom: 20px;
    line-height: 28px;
}
.m_slider_page1>:nth-child(n){
    padding-left: 30px;
}
.m_slider_page2>div:nth-of-type(2){
    margin-top: 20px;
}
.m_slider_page1>div:nth-of-type(1)>img, .m_slider_page4>div:nth-of-type(1)>img{
    display: block;
    margin: 0px auto;
}
.m_slider_page2>div:nth-of-type(2)>p, .m_slider_page3>div:nth-of-type(1)>p{
    position: relative;
    padding-left: 30px;
}
.m_slider_page2 strong, .m_slider_page3 strong{
    position: absolute;
    top: 0px;
    left: 0px;
}
.m_slider_page2 em, .m_slider_page3 em{
    display: block;
    margin-top: 5px;
    text-align: center;
}
.m_slider_page3>div>p:last-child, .m_slider_page4>div:last-child>p:last-child{
    margin-bottom: 0px;
}
.m_slider_page3 a, .m_slider_page3 button{
    display: inline-block;
    padding: 0px 10px;
    border: 2px solid #444;
    margin-top: 5px;
    background-color: #fff;
    transition: 0.3s;
}
.m_slider_page3>div>p:nth-of-type(1)>span{
    display: none;
    position: absolute;
    bottom: -20px;
    right: 45px;
    padding: 10px;
    background-color: #e9a38b;
    border-radius: 10px;
    color: #fff;
}
.m_slider_page3>div>p:nth-of-type(1)>span:after{
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    left: -14px;
    width: 20px;
    height: 20px;
    background: url(../img/main/left_arrow_p.png) no-repeat;
    background-size: contain;
}
.m_slider_page3 button:hover, .m_slider_page3 button:focus{
    color: #e9a38b;
}
.m_profile_modal{
    z-index: 9999;
    content: "";
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}
.m_profile_modal>div{
    z-index: 9999;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.m_profile_modal>div.m_profile_active{
    display: block;
}
.m_profile_modal>div>h3{
    position: absolute;
    bottom: -50px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 36px;
    letter-spacing: 2px;
    color: #e9a38b;
}
.m_profile_modal>div>button{
    position: absolute;
    bottom: -47px;
    right: 0px;
    padding: 2px 5px;
    border: 3px solid #000;
    background-color: #fff;
}

/* Ability */
.m_ability_box{
    position: relative;
    height: 100%;
}
.m_ability_box>img{
    position: absolute;
    top: 60px;
    right: 160px;
}
.m_ability_con{
    position: absolute;
    bottom: 40px;
    left: 30px;
    width: 100%;
}
.m_camera{
    position: relative;
    float: left;
    width: 219px;
    height: 157px;
    margin: 0px 40px 180px;
    background: url(../img/main/camera.png) no-repeat;
    background-size: cover;
}
.m_camera:nth-of-type(3){
    margin-right: 219px;
}
.m_camera>h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.m_camera>div{
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 182px;
    border-top: 6px solid #000;
    box-sizing: border-box;
    overflow: hidden;
}
.m_camera_film{
    position: absolute;
    top: -110%;
    left: 0px;
    width: 150px;
    height: 170px;
    padding: 10px;
    border: 4px solid #000;
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
    transition: 2.2s;
}
.m_ability_con>div:nth-of-type(1)>div>div{transition-delay: 0.4s}
.m_ability_con>div:nth-of-type(2)>div>div{transition-delay: 0.6s}
.m_ability_con>div:nth-of-type(3)>div>div{transition-delay: 0.8s}
.m_ability_con>div:nth-of-type(4)>div>div{transition-delay: 1s}
.m_ability_con>div:nth-of-type(5)>div>div{transition-delay: 1.2s}
.m_ability_con>div:nth-of-type(6)>div>div{transition-delay: 1.4s}
.m_ability_con>div:nth-of-type(7)>div>div{transition-delay: 1.6s}
.m_camera_film.m_ability_active{
    top: -2px;
}
.m_camera_film>div{
    height: 100px;
    padding-top: 15px;
    box-sizing: border-box;
    background-color: #444;
}
.m_camera_film>p{
    margin-top: 5px;
    font-size: 36px;
    color: #e9a38b;
}
.m_ability_foot{
    position: absolute;
    top: 0px;
    left: 0px;;
}
.m_ability_foot>img{
    z-index: -1;
    position: absolute;
    transform: rotateZ(120deg);
    opacity: 0;
}
.m_ability_foot>img.m_ability_active{
    animation: footani 0.2s linear forwards;
}
.m_ability_foot>img:nth-child(1){top:140px; left:20px; animation-delay: 0.4s; transform: rotateZ(120deg);}
.m_ability_foot>img:nth-child(2){top:290px; left:30px; animation-delay: 0.6s; transform: rotateZ(120deg);}
.m_ability_foot>img:nth-child(3){top:200px; left:130px; animation-delay: 0.8s; transform: rotateZ(120deg);}
.m_ability_foot>img:nth-child(4){top:280px; left:260px; animation-delay: 1s; transform: rotateZ(110deg);}
.m_ability_foot>img:nth-child(5){top:420px; left:270px; animation-delay: 1.2s; transform: rotateZ(110deg);}
.m_ability_foot>img:nth-child(6){top:320px; left:380px; animation-delay: 1.4s; transform: rotateZ(100deg);}
.m_ability_foot>img:nth-child(7){top:460px; left:410px; animation-delay: 1.6s; transform: rotateZ(100deg);}
.m_ability_foot>img:nth-child(8){top:470px; left:570px; animation-delay: 2s; transform: rotateZ(90deg);}
.m_ability_foot>img:nth-child(9){top:360px; left:630px; animation-delay: 2.2s; transform: rotateZ(90deg);}
.m_ability_foot>img:nth-child(10){top:480px; left:690px; animation-delay: 2.4s; transform: rotateZ(100deg);}
.m_ability_foot>img:nth-child(11){top:510px; left:830px; animation-delay: 2.8s; transform: rotateZ(110deg);}
.m_ability_foot>img:nth-child(12){top:430px; left:930px; animation-delay: 3s; transform: rotateZ(120deg);}
.m_ability_foot>img:nth-child(13){top:580px; left:920px; animation-delay: 3.2s; transform: rotateZ(130deg);}
.m_ability_foot>img:nth-child(14){top:520px; left:1040px; animation-delay: 3.4s; transform: rotateZ(130deg);}
.m_ability_foot>img:nth-child(15){top:660px; left:990px; animation-delay: 3.8s; transform: rotateZ(140deg);}
.m_ability_foot>img:nth-child(16){top:660px; left:1160px; animation-delay: 4s; transform: rotateZ(150deg);}
.m_ability_foot>img:nth-child(17){top:780px; left:1200px; animation-delay: 4.4s; transform: rotateZ(170deg);}

/* Portfolio */
.m_portfolio_box{
    position: relative;
    height: 100%;
}
.m_portfolio_box>:nth-child(n){
    position: absolute;
}
.m_portfolio_dish{
    bottom: 40px;
    left: 80px;
    width: 906px;
    height: 760px;
    background: url(../img/main/dish.png) no-repeat;
    background-size: cover;
}
.m_portfolio_dish>h3{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    color: #e9a38b;
    font-size: 36px;
}
.m_portfolio_dish>ul{
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 40px;
    font-size: 28px;
}
.m_portfolio_dish>ul>li:last-child{
    position: absolute;
    top: -45px;
    right: -30px;
    padding: 0px 5px;
    border-radius: 10px;
    background-color: #e9a38b;
    color: #fff;
}
.m_portfolio_dish>ul>li:last-child:after{
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    left: -4px;
    width: 20px;
    height: 20px;
    transform: rotate(60deg);
    background: url(../img/main/left_arrow_p.png) no-repeat;
    background-size: contain;
}
.m_portfolio_dish>img{
    position: absolute;
    bottom: 120px;
    left: 160px;
}
.m_portfolio_box>img:nth-of-type(1){
    bottom: 60px;
    left: 100px;
    transform: rotateZ(15deg);
    transition: 0.8s;
}
.m_portfolio_box>img:nth-of-type(1).m_portfolio_active{
    transform: rotateZ(30deg);
}
.m_portfolio_box>img:nth-of-type(2){
    bottom: 60px;
    right: 340px;
    transform: rotateZ(-20deg);
    transition: 0.8s;
}
.m_portfolio_box>img:nth-of-type(2).m_portfolio_active{
    transform: rotateZ(-30deg);
}
.m_portfolio_box>img:nth-of-type(3){
    z-index: -1;
    bottom: 200px;
    right: 25px;
}
.m_portfolio_foot{
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.m_portfolio_foot>img{
    position: absolute;
    transform: rotateZ(-120deg);
    opacity: 0;
}
.m_portfolio_foot>img.m_portfolio_active{
    animation: footani 0.2s linear forwards;
}
.m_portfolio_foot>img:nth-child(1){top:80px; right:80px; animation-delay: 0.4s;}
.m_portfolio_foot>img:nth-child(2){top:40px; right:190px; animation-delay: 0.6s;}
.m_portfolio_foot>img:nth-child(3){top:160px; right:220px; animation-delay: 0.8s;}
.m_portfolio_foot>img:nth-child(4){top:110px; right:330px; animation-delay: 1s;}
.m_portfolio_foot>img:nth-child(5){top:230px; right:350px; animation-delay: 1.2s;}
.m_portfolio_foot>img:nth-child(6){top:180px; right:470px; animation-delay: 1.4s;}
.m_portfolio_foot>img:nth-child(7){bottom:120px; left:170px; animation-delay: 2.8s;}
.m_portfolio_foot>img:nth-child(8){bottom:200px; left:60px; animation-delay: 3s;}
.m_portfolio_foot>img:nth-child(9){bottom:40px; left:40px; animation-delay: 3.2s;}
.m_portfolio_modal{
    z-index: 9999;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}
.m_pm_box{
    position: relative;
    height: 100%;
}
.m_pm_box>div{
    display: none;
    position: absolute;
    top: 150px;
    left: 0px;
    width: 100%;
    padding: 40px 20px;
    border: 5px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff;
}
.m_pm_box>div.m_portfolio_active{
    display: block;
}
.m_pm_box>div>:nth-child(n){
    float: left;
}
.m_pm_box>div>h3{
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    color: #e9a38b;
}
.m_pm_img{
    position: relative;
    width: 55%;
    text-align: center;
}
.m_pm_img>img:nth-of-type(2){
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.m_pm_img>img:nth-of-type(3){
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.m_pm_tp>.m_pm_img{
    margin-top: 40px;
}
.m_pm_tp>.m_pm_img>img{
    float: left;
    position: static;
    width: 50%;
}
.m_pm_tp>.m_pm_img>img:nth-of-type(3){
    position: absolute;
    top: 160px;
    left: 168px;
}
.m_pm_con{
    width: 45%;
    padding-left: 25px;
    box-sizing: border-box;
}
.m_pm_con>div{
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.m_portfolio_modal h4{
    margin-bottom: 5px;
    color: #e9a38b;
}
.m_pm_con>div>p{
    padding-left: 20px;
}
.m_pm_con>div:nth-of-type(3)>p>span{
    margin-right: 20px;
}
.m_pm_content{
    width: 100%;
}
.m_pm_content>div{
    float: left;
    width: 55%;
}
.m_pm_content>.m_pm_url{
    width: 45%;
    padding-top: 50px;
    text-align: center;
    box-sizing: border-box;
}
.m_pm_url>span{
    color: #e9a38b;
}
.m_pm_url>a{
    padding: 5px;
    border: 4px solid #000;
    margin: 0px 5px;
    margin-bottom: 5px;
}
.m_pm_box>div>button{
    position: absolute;
    top: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    padding: 0px;
    border: 3px solid #000;
    border-radius: 5px;
    text-indent: -9999px;
    background: #fff url(../img/main/close_icon_b.png) no-repeat center;
    transition: 0.4s;
}
.m_pm_box>div>button:hover, .m_pm_box>div>button:focus{
    background-color: #000;
    background-image: url(../img/main/close_icon_w.png);
}